.header-main {
  height: var(--header-h);
  padding: 0 2em;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .7rem;
  font-family: var(--font-headline);
  font-weight: 680;
  line-height: 1;
  z-index: 10;
}

.header-main > :first-child {
  margin-right: auto;
}

.header-main a {
  color: white;
  text-decoration: none;
}

.header-main a:not(.logo):hover {
  text-decoration: underline;
}

.header-main a.logo {
  transition: transform .2s ease-in-out;
}

.header-main a.logo:hover {
  transform: scale(1.2);
}