.header-main {
  height: var(--header-h);
  padding: 0 calc(var(--share-anchor-w) + .9rem) 0 var(--body-padding);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .9rem;
  font-family: var(--font-headline);
  font-size: clamp(.9em, 2vw, 1.1em);
  font-weight: 200;
  line-height: 1;
  z-index: var(--header-z);
}

.header-main > :first-child {
  margin-right: auto;
}

.header-main a {
  text-decoration: none;
}

.header-main > div {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.header-main .masthead {
  font-weight: 680;
}

.header-main .masthead:hover {
  text-decoration: underline;
}

.header-main a.logo {
  transition: transform .2s ease-in-out;
}

.header-main a.logo:hover {
  transform: scale(1.2);
}