*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--teal-light);
  color: black;
}

@font-face {
  font-family: Pacaembu;
  src: url(../fonts/PacaembuVar-subset.woff2) format("woff2");
  unicode-range: U+5,U+20,U+21,U+24,U+25,U+27,U+2B-2E,U+30-3A,U+3F,U+41-5A,U+61-7A,U+D7,U+2019;
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: Mulish;
  src: url(../fonts/MulishVar-subset.woff2) format("woff2");
  unicode-range: U+5,U+20,U+21,U+24,U+25,U+27,U+2B-2E,U+30-3A,U+3F,U+41-5A,U+61-7A,U+D7,U+2019;
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-VariableFont_wght.woff2) format("woff2");
  unicode-range: U+5,U+20,U+21,U+24,U+25,U+27,U+2B-2E,U+30-3A,U+3F,U+41-5A,U+61-7A,U+D7,U+2019;
  font-weight: 200 900;
  font-display: swap;
}

:root {
  --body-bg: var(--color-gray-L800);
  --overlay-w: 35vw;
  --overlay-h: 60vh;
  --header-h: 10vh;
  --gradient-teal: linear-gradient(to bottom, var(--teal-medium), var(--teal-light));
  --gradient-purple: linear-gradient(to bottom, var(--purple-dark), var(--purple-medium));
  --gradient-blue: linear-gradient(to bottom, var(--blue-dark), var(--blue-medium));
  --teal-dark: var(--color-teal-T800);
  --teal-dark-RGB: 15,106,128;
  --teal-medium: var(--color-teal-T600);
  --teal-medium-RGB: 48,200,201;
  --teal-light: var(--color-teal-T400);
  --teal-light-RGB: 132,243,223;
  --blue-dark: var(--color-blue-B600);
  --blue-dark-RGB: 24,61,209;
  --blue-medium: var(--color-blue-B400);
  --blue-medium-RGB: 88,126,248;
  --blue-light: var(--color-blue-B200);
  --blue-light-RGB: 166,191,253;
  --purple-dark: #6e2ff4;
  --purple-dark-RGB: 110,47,244;
  --purple-medium: #9973fd;
  --purple-medium-RGB: 153,115,253;
  --purple-light: #b7a6fc;
  --purple-light-RGB: 183,166,252;
  --pattern-bg: #22262a;
  --shadow: 16,17,163;
  --drop-shadow: drop-shadow(0 1rem 0.5rem rgba(var(--shadow),.15));
}

body {
  min-height: 100vh;
  position: relative;
  background-color: var(--body-bg);
  font-family: var(--font-secondary);
  font-size: 100%;
  line-height: 1.4;
  color: white;
}

body::before,
body::after {
  content: '';
  position: fixed;
  z-index: 0;
}

body::after {
  width: 40vw;
  height: 40vw;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  background-image: linear-gradient(140deg, #783AFA 20%, #0076D1);
  border-radius: 50%;
  filter: blur(7vw) opacity(.7);
  transform: translate3d(20%, -30%, 0);
}

body::before {
  content: '';
  width: 53vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-repeat: no-repeat, repeat, repeat-y;
  background-image: linear-gradient(to right, rgba(21,26,30,.7) 20%,
                                              rgba(21,26,30, 0) 30%,
                                              rgba(21,26,30, 0) 70%,
                                              rgba(21,26,30,.7) 80%),
                    url('/images/grid-dot.svg'),
                    url('/images/grid-lines.svg');
  background-size: 100% 100%, 60px auto, 959px auto;
  background-position: center center, left center, 4vw center;
}

h1, h2, h3, h4 {
  margin-bottom: .6em;
  font-family: var(--font-headline);
  font-weight: 680;
  line-height: 1.3;
}

h1 {
  font-size: clamp(1.8em, 3.5vw, 6em);
}

h2 {
  font-size: clamp(1.5em, 2.5vw, 2.2em);
}

h3 {
  font-size: clamp(1.3em, 2.2vw, 2em);
}

p {
  font-size: clamp(1em, 1.6vw, 2.5em)
}

p:not(:last-child) {
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--teal-medium);
  text-decoration-skip: ink;
}

a:hover {
  text-decoration-color: inherit;
}

button,
.button {
  padding: .5em 1em .6em;
  display: inline-block;
  background-color: var(--color-teal-T500);
  border-radius: 4px;
  font-family: var(--font-secondary);
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  color: var(--color-teal-T900);
  text-decoration: none;
  border: none;
  transition: background-color 200ms;
  white-space: nowrap;
}

.button.small {
  font-size: 80%;
}

button:hover,
.button:hover {
  background-color: var(--color-teal-T200);
  cursor: pointer;
}

input[type=submit]:disabled,
input[type=submit]:disabled:hover,
button:disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.button.blue {
  background-color: var(--color-blue-B500);
  color: var(--color-blue-B050);
}

.button.blue:hover {
  background-color: var(--color-blue-B700);
  color: var(--color-blue-B050);
}

.content > :last-child {
  margin-bottom: 0;
}
