.parallax {
  height: 100vh;
  position: relative;
  perspective: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.parallax-group {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;
}

.content {
  place-self: center;
  padding-right: 6vw;
  grid-column: 2;
}

.background-container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

.background-artwork {
  width: var(--overlay-w);
}

.foreground img {
  position: absolute;
  left: 50%;
}

/* Layers
----------------------*/

.parallax-layer.background {
  transform: translateZ(0);
}
.parallax-layer.foreground.layer-1 {
  transform: translateZ(100px) scale(.71);
  transform-origin: center right;
}
.parallax-layer.foreground.layer-2 {
  transform: translateZ(175px) scale(.5);
  transform-origin: center right;
}
.parallax-layer.foreground.layer-3 {
  transform: translateZ(200px) scale(.5);
  transform-origin: center right;
}

/* remove parallax */
@media (prefers-reduced-motion) {
  .parallax-layer.foreground.layer-1,
  .parallax-layer.foreground.layer-2,
  .parallax-layer.foreground.layer-3 {
    transform: translateZ(100px) scale(.71);
  }
}