/* Intro
----------------------*/

.calendar-container {
  width: var(--overlay-w);
  overflow: hidden;
  display: grid;
  justify-content: center;
}

.calendar {
  --start: 2vh;
  --slot: 8vh;
  --spacer: .4vh;
  --radius: 4px;
  width: calc(var(--overlay-w) * 1.3);
  height: var(--overlay-h);
  overflow-x: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
}

.calendar-day {
  margin-top: 3.5em;
  position: relative;
  background-repeat: no-repeat;
  background-image: var(--gradient-teal);
  background-position: center var(--start);
  font-family: var(--font-headline);
  font-size: clamp(.5rem, 1vw, .75rem);
  font-weight: 500;
  color: var(--color-gray-L500);
  text-align: center;
  text-transform: uppercase;
}

.calendar-day:not(:first-of-type) {
  border-left: 1px solid var(--color-gray-L300);
}

.calendar-day.matterday {
  background-image: none;
}

.calendar-day span {
  width: 100%;
  padding: .2em .6em;
  display: block;
  position: absolute;
  top: -2em;
  border: 1px solid transparent;
}

.calendar-day.matterday span {
  width: auto;
  border: 1px solid var(--teal-medium);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  color: var(--color-gray-L700);
}

.calendar-event {
  width: 100%;
  height: var(--slot);
  display: block;
  background-repeat: no-repeat;
  background-image: url('/images/calendar-event-mask-top.svg'),
                    url('/images/calendar-event-mask-bottom.svg');
  background-size: 100% auto;
  background-position: center top, center bottom;
  border-top: 1px solid var(--color-gray-L300);
}

.calendar-event.short {
  height: calc(var(--slot) / 2);
}

.calendar-event.tall {
  height: calc(var(--slot) * 2);
}

.calendar-event:first-of-type {
  margin-top: var(--start);
}

.intro .content {
  place-self: start;
  height: var(--overlay-h);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Floating events */
.intro-pieces .event-detailed {
  width: 14vw;
  min-height: 6vw;
  padding: .6em;
  display: block;
  position: absolute;
  border-radius: 4px;
  border: 2px solid;
  box-shadow: 0 .5em 1em rgba(var(--shadow),.1),
              0 2em 2em rgba(var(--shadow),.1);
  font-size: clamp(.55em, 1vw, 1.2em);
  line-height: 1;
  color: var(--color-gray-L800);
}

.intro-pieces .event-detailed.tall {
  min-height: 12vw;
}
.intro-pieces .event-detailed.short {
  min-height: auto;
  height: auto;
}

.intro-pieces .layer-3 .event-detailed {
  border-width: 1px;
}

.intro-pieces .event-detailed.teal {
  background-image: var(--gradient-teal);
  border-color: var(--teal-medium);
}
.intro-pieces .event-detailed.blue {
  background-image: var(--gradient-blue);
  border-color: var(--blue-dark);
  color: white;
}
.intro-pieces .event-detailed.purple {
  background-image: var(--gradient-purple);
  border-color: var(--purple-dark);
  color: white;
}

.intro-pieces .event-detailed:not(.short) strong {
  margin-bottom: .4em;
  display: block;
}
.intro-pieces .event-1 {
  left: calc(50% - 18vw);
  top: 0;
}
.intro-pieces .event-2 {
  left: calc(50% + 8vw);
  top: 0;
}
.intro-pieces .event-3 {
  left: 50%;
  top: 30%;
}
.intro-pieces .event-4 {
  left: calc(50% + 11vw);
  top: 50%;
}
.intro-pieces .event-5 {
  left: calc(50% - 10vw);
  top: 50%;
}
.intro-pieces .event-6 {
  left: calc(50% + 5vw);
  top: 80%;
}