/* The Office
----------------------*/

.parallax-group.the-office .background-visual div {
  /*background-repeat: repeat-y;*/
  background-image: url('/images/the-office.jpg');
  background-size: 100% auto;
  background-position: 50% 0;
}