/* Intro
----------------------*/

/* Calendar for intro */
.calendar {
  --start: 2vh;
  --slot: 8vh;
  --spacer: .4vh;
  --radius: 4px;
  width: var(--overlay-w);
  height: var(--overlay-h);
  overflow-x: hidden;
  background-color: white;
  display: grid;
  grid-template-columns: .3fr 1fr 1fr 1fr .3fr;
  list-style: none;
}

.calendar-day {
  margin-top: 3.5em;
  position: relative;
  background-image: repeating-linear-gradient(to bottom, var(--color-gray-L400),
                                                         var(--color-gray-L400) 1px,
                                                         transparent 1px,
                                                         transparent var(--slot));
  background-position: center var(--start);
  font-family: var(--font-headline);
  font-size: clamp(.5rem, 1vw, .75rem);
  font-weight: 500;
  color: var(--color-gray-L700);
  text-align: center;
  text-transform: uppercase;
}

.calendar-day:not(:first-of-type) {
  border-left: 1px solid var(--color-gray-L400);
}

.calendar-day span {
  width: 100%;
  position: absolute;
  top: -1.5em;
  display: block;
}

.calendar-event {
  width: calc(100% - (var(--spacer) * 2));
  height: calc(var(--slot) - var(--spacer) * 2);
  margin: 0 var(--spacer) calc(var(--spacer) * 2);
  display: block;
  background-image: var(--gradient-teal);
  border-radius: var(--radius);
}

.calendar-event.short {
  height: calc((var(--slot) - var(--spacer) * 3) / 2);
}
.calendar-event.short + .short {
  margin-top: calc(var(--spacer) * -1);
}

.calendar-event.tall {
  height: calc((var(--slot) * 2) - (var(--spacer) * 2));
}

.calendar-event:first-of-type {
  margin-top: calc(var(--start) + var(--spacer));
}

.calendar-day:first-of-type .calendar-event {
  width: calc(100% - var(--spacer));
  border-radius: 0 var(--radius) var(--radius) 0;
  margin-left: 0;
}
.calendar-day:last-of-type .calendar-event {
  width: calc(100% - var(--spacer));
  border-radius: var(--radius) 0 0 var(--radius);
  margin-right: 0;
}

.intro .content {
  place-self: start;
  height: var(--overlay-h);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Floating events */
.intro-pieces .event-detailed {
  width: 14vw;
  min-height: 6vw;
  padding: .6em;
  display: block;
  position: absolute;
  border-radius: 4px;
  border: 2px solid;
  box-shadow: 0 .5em 1em rgba(var(--shadow),.1),
              0 2em 2em rgba(var(--shadow),.1);
  font-size: clamp(.55em, 1vw, 1.2em);
  line-height: 1;
  color: var(--color-gray-L800);
}

.intro-pieces .event-detailed.tall {
  min-height: 12vw;
}
.intro-pieces .event-detailed.short {
  min-height: auto;
  height: auto;
}

.intro-pieces .layer-3 .event-detailed {
  border-width: 1px;
}

.intro-pieces .event-detailed.teal {
  background-image: var(--gradient-teal);
  border-color: var(--teal-medium);
}
.intro-pieces .event-detailed.blue {
  background-image: var(--gradient-blue);
  border-color: var(--blue-dark);
  color: white;
}
.intro-pieces .event-detailed.purple {
  background-image: var(--gradient-purple);
  border-color: var(--purple-dark);
  color: white;
}

.intro-pieces .event-detailed:not(.short) strong {
  margin-bottom: .4em;
  display: block;
}
.intro-pieces .event-1 {
  left: calc(50% - 18vw);
  top: 0;
}
.intro-pieces .event-2 {
  left: calc(50% + 8vw);
  top: 0;
}
.intro-pieces .event-3 {
  left: 50%;
  top: 30%;
}
.intro-pieces .event-4 {
  left: calc(50% + 11vw);
  top: 50%;
}
.intro-pieces .event-5 {
  left: calc(50% - 10vw);
  top: 50%;
}
.intro-pieces .event-6 {
  left: calc(50% + 5vw);
  top: 80%;
}