/* Space Mountain
----------------------*/

.space-mountain .background-visual div {
  background-color: black;
  background-image: url('/images/stars2.svg');
  background-size: 100% auto;
  background-position: center top;
}

.space-mountain-pieces .foreground {
  background-image: url('/images/stars.svg');
  background-size: 100% auto;
  background-position: center center;
}

.space-mountain-pieces2 .foreground img {
  width: 7vw;
  top: 45%;
}