/* Slow down
----------------------*/

.slow-down {
  /*height: 200vh;*/
}
.slow-down .background-visual div {
  /*margin-top: -30vh;*/
}

.slow-down .background-visual div {
  /*height: 160vh;*/
  background-image: linear-gradient(to bottom, rgba(var(--teal-medium-RGB), 0),
                                               rgba(var(--teal-medium-RGB), 1) 20%,
                                               var(--teal-light));
  /*background-image: var(--gradient-teal);*/
}

.slow-down-pieces {

}

.slow-down-pieces .watch {
  display: grid;
  place-content: center;
}

.slow-down-pieces .watch img {
  width: 22vw;
  margin-right: -4vw;
}

.slow-down-pieces .rose img {
  width: 8vw;
  position: absolute;
  left: calc(50% - 14vw);
  top: 0;
}

.slow-down-pieces .rose2 img {
  width: 10vw;
  position: absolute;
  left: calc(50% + 14vw);
  top: 40%;
}

.slow-down-pieces .rose3 img {
  width: 8vw;
  position: absolute;
  left: calc(50% - 3vw);
  top: 80%;
}

.slow-down-pieces .rose4 img {
  width: 8vw;
  position: absolute;
  left: calc(50%);
  top: 100%;
}