/* Backburner
----------------------*/

.backburner .background-visual div {
  background-image: url('/images/checkbox.svg'),
                    linear-gradient(to bottom, var(--purple-dark), var(--teal-medium));
  background-size: auto 5%, 100% 100%;
  background-position: center top;
}