/* The Office
----------------------*/

.the-office .background-artwork {
  background-repeat: no-repeat, repeat-y, no-repeat, repeat;
  background-image: linear-gradient(to bottom, var(--purple-medium), var(--purple-medium)),
                    radial-gradient(circle at 50% 50%, var(--pattern-bg) 10%,
                                                       transparent 11%),
                    repeating-linear-gradient(to bottom, rgba(255,255,255,.2),
                                                         rgba(255,255,255,.2) 2px,
                                                         rgba(255,255,255,0) 2px,
                                                         rgba(255,255,255,0) 30px),
                    linear-gradient(to bottom, var(--blue-medium), var(--blue-dark));
  background-size: 2px 100%, 15% 33.333%, 100% 90%, 100% 100%;
  background-position: 15% 0, 0 0, 50% 100%, 0 0;
}

.the-office-pieces img {
  filter: var(--drop-shdow);
}

.the-office-pieces .mug {
  width: 20vw;
  margin-left: -9vw;
  top: 35%;
  transform: rotate(-10deg);
}

.the-office-pieces .airplane1 {
  width: 7vw;
  margin-left: -15vw;
  top: 10%;
}
.the-office-pieces .airplane2 {
  width: 7vw;
  margin-left: 16vw;
  top: 60%;
}
.the-office-pieces .airplane3 {
  width: 5vw;
  margin-left: -8vw;
  top: 100%;
}