/* Get more rest
----------------------*/

.get-more-rest .background-visual div {
  background-image: url('/images/grid-dot.svg'),
                    linear-gradient(to bottom, var(--blue-medium), var(--blue-dark));
  background-position: 50% 50%, 0 0;
}

.get-more-rest-pieces .cloud img {
  width: 15vw;
  position: absolute;
  filter: drop-shadow(0 1rem 0.5rem rgba(var(--shadow),.15))
}

.get-more-rest-pieces .pillow img {
  width: 20vw;
  filter: drop-shadow(0 1rem 0.5rem rgba(var(--shadow),.15))
}

.get-more-rest-pieces .cloud1 img {
  margin-left: -17vw;
  top: 0;
}
.get-more-rest-pieces .cloud2 img {
  margin-left: 8vw;
  top: 20%;
}
.get-more-rest-pieces .cloud3 img {
  margin-left: -6vw;
  top: 60%;
}
.get-more-rest-pieces .pillow1 img {
  margin-left: -10vw;
  top: 40%;
}
.get-more-rest-pieces .cloud4 img {
  margin-left: 5vw;
  top: 90%;
}
.get-more-rest-pieces .cloud5 img {
  width: 10vw;
  margin-left: -3vw;
  top: 90%;
}