/* Backburner
----------------------*/

.backburner .background-artwork {
  background-image: var(--gradient-teal);
}

.backburner-pieces .todo-list {
  width: 20vw;
  margin-left: -9vw;
  top: 15%;
  filter: drop-shadow(0 1rem 0.5rem rgba(var(--shadow),.1));
}