/* Space Mountain
----------------------*/

.space-mountain .background-artwork {
  background-color: black;
  background-image: url('/images/stars2.svg');
  background-size: 100% auto;
  background-position: center top;
}

.space-mountain-pieces .stars {
  background-image: url('/images/stars.svg');
  background-size: 100% auto;
  background-position: center center;
}

.space-mountain-pieces .rocket {
  width: 7vw;
  margin-left: 1vw;
  top: 35%;
}

@media (prefers-reduced-motion) {
  .space-mountain-pieces .rocket {
    margin-left: -2vw;
  }
}