/* Third
----------------------*/

.parallax-group.third .background-visual div {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.parallax-group.third .background-visual div img {
  width: calc(var(--overlay-w) + 100px);
  filter: blur(.5em);
  transform: scale(1.1);
}

.parallax-group.third-support {
  z-index: 0;
}

.parallax-group.third-support .layer-1 div,
.parallax-group.third-support2 .layer-1 div {
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: calc(50% - 8vw);
  top: 0;
  display: grid;
  place-content: center;
  overflow: hidden;
  border-radius: 50%;
}
.parallax-group.third-support2 .layer-1 div {
  /*border: 5px solid white;*/
  box-shadow: 0 0 0 1px rgba(255,255,255,.4),
              0 0 20px rgba(0,0,0,.2);
/*  box-shadow: inset 0 0 2em rgba(0,0,0,.4),
              inset 2em 2em 2em rgba(255,255,255,.1),
              -2em -2em 1em rgba(0,0,0,.4);*/
}
.parallax-group.third-support .layer-1 div img {
  width: calc(var(--overlay-w) * 2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}