/* Slow down
----------------------*/

.slow-down .background-artwork {
  background-image: url('/images/grid-dot.svg'),
                    linear-gradient(to bottom, rgba(var(--teal-medium-RGB), 0),
                                               rgba(var(--teal-medium-RGB), 1) 20%,
                                               var(--purple-dark));
  background-position: 50% 50%, 0 0;
}

.slow-down-pieces .watch {
  width: 22vw;
  top: 50%;
  transform: translate(-9.7vw,-50%);
  filter: var(--drop-shadow);
}

.slow-down-pieces .rose {
  width: 8vw;
  filter: var(--drop-shadow);
}

.slow-down-pieces .rose1 {
  margin-left: -14vw;
  top: 0;
}

.slow-down-pieces .rose2 {
  width: 10vw;
  margin-left: 13vw;
  top: 40%;
}

.slow-down-pieces .rose3 {
  margin-left: -3vw;
  top: 80%;
}

.slow-down-pieces .rose4 {
  margin-left: 0;
  top: 100%;
}