/* Big Swings
----------------------*/

.big-swings .background-artwork {
  background-image: repeating-linear-gradient(45deg, rgba(255,255,255,0),
                                                     rgba(255,255,255,0) 5px,
                                                     rgba(255,255,255,.06) 5px,
                                                     rgba(255,255,255,.06) 10px),
                    linear-gradient(to bottom, var(--teal-medium), var(--purple-dark));
}

.big-swings-pieces .pinata-string {
  width: 1px;
  height: 70vh;
  margin-left: 6vw;
  position: absolute;
  left: 50%;
  top: -20%;
  background-image: linear-gradient(to bottom, rgba(var(--teal-medium-RGB), 0), var(--teal-medium) 20%);
}

.big-swings-pieces .pinata {
  width: 22vw;
  margin-left: -6vw;
  top: 10%;
  filter: drop-shadow(0 1rem 0.5rem rgba(var(--shadow),.1));
  transform: rotate(5deg);
}

.big-swings-pieces .pinata-pizza {
  width: 24vw;
  margin-left: -10vw;
  top: 55%;
  filter: drop-shadow(0 1rem 0.5rem rgba(var(--shadow),.1));
}