/* Focus section
----------------------*/

.focus .background-visual div {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.focus .background-visual div img {
  width: calc(var(--overlay-w) + 100px);
  filter: blur(.6em);
  transform: scale(1.1);
}

.parallax-group.focus-pieces {
  z-index: 0;
}

.parallax-group.focus-pieces {
  transform: translateZ(-100px) scale(1.4123);
}

.parallax-group.focus-pieces .layer-1 {
  transform-origin: center center;
}

.parallax-group.focus-pieces .layer-1 div {
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: calc(50% - 10vw);
  top: 0;
  overflow: hidden;
  border-radius: 50%;
}

.parallax-group.focus-pieces2 .layer-1 div {
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: calc(50% - 10vw);
  top: 0;
  display: grid;
  place-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.parallax-group.focus-pieces2 .layer-1 {
  transform: translateZ(0);
}

.parallax-group.focus-pieces2 .layer-1 div {
  box-shadow: 0 0 0 1px rgba(255,255,255,.4),
              0 0 20px rgba(0,0,0,.2);
}

.parallax-group.focus-pieces .layer-1 div img {
  width: calc(var(--overlay-w) * 2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}