/* Focus section
----------------------*/

.focus .background-visual > div {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.focus .background-visual .focus-shapes {
  width: var(--overlay-w);
  height: 120%;
  background-image: url('/images/shapes.svg');
  background-size: 130% auto;
  background-position: center 120%;
  filter: blur(.6em);
  transform: scale(1.3);
}

.parallax-group.focus-pieces {
  z-index: 0;
}

.parallax-group.focus-pieces .foreground div,
.parallax-group.focus-pieces2 .foreground div {
  position: absolute;
  width: 17vw;
  height: 17vw;
  top: -1%;
  overflow: hidden;
  border-radius: 50%;
  left: calc(50% - 6.8vw);
}

.parallax-group.focus-pieces2 .foreground div {
  display: grid;
  place-content: center;
  box-shadow: 0 0 0 1px var(--teal-light),
              0 0 20px rgba(var(--shadow),.3);
}

.parallax-group.focus-pieces .foreground div img {
  width: var(--overlay-w);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%,-50%);
}

/* Safari hack please forgive me */
_::-webkit-full-page-media, _:future, :root .parallax-group.focus-pieces {
  transform: translateZ(-100px) scale(1.4123);
}
_::-webkit-full-page-media, _:future, :root .parallax-group.focus-pieces .layer-1 {
  transform: translateZ(100px) scale(0.605);
  margin-top: 1px;
  transform-origin: center center;
}
_::-webkit-full-page-media, _:future, :root .parallax-group.focus-pieces2 .layer-1 {
  transform: translateZ(0) scale(.85);
  transform-origin: center center;
}
_::-webkit-full-page-media, _:future, :root .parallax-group.focus-pieces .foreground div,
_::-webkit-full-page-media, _:future, :root .parallax-group.focus-pieces2 .foreground div {
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 6%;
  left: calc(50% - 10vw);
}