/*--------------------*/
/* Slow down
----------------------*/

.slow-down-pieces .watch,
.slow-down-pieces .rose {
  filter: var(--drop-shadow);
}

/* mobile stacked view */
@media screen and (max-width: 600px) {

  .slow-down .background-artwork {
    background-image: url('/images/grid-dot.svg'),
                      linear-gradient(to bottom, rgba(var(--teal-medium-RGB), 1),
                                                 var(--purple-dark));
    background-position: 50% 50%, 0 0;
  }

  .slow-down-pieces .watch {
    width: 50vw;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .slow-down-pieces .rose {
    width: 20vw;
  }

  .slow-down-pieces .rose1 {
    left: 8%;
    top: -6%;
  }

  .slow-down-pieces .rose2 {
    width: 15vw;
    margin-left: 27vw;
    top: 5%;
  }

  .slow-down-pieces .rose3 {
    display: none;
  }

  .slow-down-pieces .rose4 {
    margin-left: 18vw;
    bottom: -10%;
  }
}

/* desktop parallax view */
@media screen and (min-width: 601px) {

  .slow-down .background-artwork {
    background-image: url('/images/grid-dot.svg'),
                      linear-gradient(to bottom, rgba(var(--teal-medium-RGB), 0),
                                                 rgba(var(--teal-medium-RGB), 1) 20%,
                                                 var(--purple-dark));
    background-position: 50% 50%, 0 0;
  }

  .slow-down-pieces .watch {
    width: 22vw;
    top: 50%;
    transform: translate(-9.7vw,-50%);
  }

  .slow-down-pieces .rose {
    width: 8vw;
  }

  .slow-down-pieces .rose1 {
    margin-left: -14vw;
  }

  .slow-down-pieces .rose2 {
    width: 10vw;
    margin-left: 13vw;
    top: 40%;
  }

  .slow-down-pieces .rose3 {
    margin-left: -3vw;
    top: 80%;
  }

  .slow-down-pieces .rose4 {
    margin-left: 0;
    top: 100%;
  }
}