.admin-container {
  min-height: 100vh;
  padding: var(--body-padding);
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: var(--body-padding);
  z-index: 1;
}

@media screen and (min-width: 321px) {
  .admin-container {
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  }
}

.admin-matter {
  padding: 2rem 0;
  border-bottom: 1px solid #afafaf;
}

.admin-matter-image {
  width: 100%;
  margin-bottom: 1rem;
}

.admin-buttons > * + * {
  margin-left: 1rem;
}
