/* Footer "built with" credit */
.credit {
  width: calc(100% + var(--body-padding) * 2);
  margin-top: auto;
  margin-left: calc(var(--body-padding) * -1);
  margin-right: calc(var(--body-padding) * -1);
  padding: calc(var(--body-padding) / 3) var(--body-padding);
  align-self: end;
  display: flex;
  grid-column: 1 / -1;
  background-color: rgba(0,0,0,.15);
  -webkit-backdrop-filter: blur(.13em);
  backdrop-filter: blur(.13em);
  font-size: 90%;
  color: var(--color-gray-L300);
}

#share .credit {
  justify-content: center;
}

.your-matterday .credit {
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .credit {
    flex-wrap: wrap;
    justify-content: center;
  }
  .credit > * {
    flex-basis: 100%;
  }
  .credit > :not(:last-child) {
    margin-bottom: .5em;
  }
}

.credit p {
  margin: 0;
  font-size: inherit;
  text-align: center;
}

.supabase-mark,
.netlify-mark {
  padding-right: 1.3em;
  position: relative;
}

.netlify-mark::after,
.supabase-mark::after {
  content: '';
  width: 1em;
  height: 1em;
  position: absolute;
  right: 0;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.netlify-mark::after {
  background-image: url('/images/logomark-netlify.svg');
}
.supabase-mark::after {
  background-image: url('/images/logomark-supabase.svg');
}

.calculate {
  padding-left: 1.4em;
  position: relative;
}

.calculate::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 120%;
}

.calculate::before {
  content: '💰';
}