/*--------------------*/
/* The Office
----------------------*/

.the-office .background-artwork {
  background-repeat: no-repeat, repeat-y, no-repeat, repeat;
  background-image: linear-gradient(to bottom, var(--purple-medium), var(--purple-medium)),
                    radial-gradient(circle at 50% 50%, var(--pattern-bg) 10%,
                                                       transparent 11%),
                    repeating-linear-gradient(to bottom, rgba(255,255,255,.2),
                                                         rgba(255,255,255,.2) 2px,
                                                         rgba(255,255,255,0) 2px,
                                                         rgba(255,255,255,0) 30px),
                    linear-gradient(to bottom, var(--blue-medium), var(--teal-medium));
  background-size: 2px 100%, 15% 33.333%, 100% 90%, 100% 100%;
  background-position: 15% 0, 0 0, 50% 100%, 0 0;
}

.the-office-pieces img {
  filter: var(--drop-shadow);
}

/* mobile stacked view */
@media screen and (max-width: 600px) {

  .the-office-pieces .jello {
    width: 45vw;
    top: 50%;
    transform: translate(-45%,-50%);
  }

  .the-office-pieces .airplane {
    display: none;
  }

  .the-office-pieces .mug {
    width: 20vw;
    transform: rotate(2deg);
    margin-left: 25vw;
    bottom: -10%;
  }

  .the-office-pieces .beet {
    width: 20vw;
    margin-left: -35vw;
    top: -10%;
  }
}

/* desktop parallax view */
@media screen and (min-width: 601px) {

  .the-office-pieces .mug {
    width: 20vw;
    margin-left: -9vw;
    top: 35%;
    transform: rotate(-10deg);
  }

  .the-office-pieces .jello {
    width: 20vw;
    margin-left: -8vw;
    top: 35%;
  }

  .the-office-pieces .airplane {
    width: 7vw;
    margin-left: -15vw;
    top: 10%;
  }
  .the-office-pieces .mug {
    width: 7vw;
    margin-left: 16vw;
    top: 60%;
  }
  .the-office-pieces .beet {
    width: 10vw;
    margin-left: -8vw;
    top: 100%;
  }
}

/* very wide, very short screens */
@media screen and (max-height: 400px) and (min-width: 1000px) {
  .the-office-pieces .mug {
    transform: rotate(-10deg) scale(.7);
  }
}