:root {

  /* Bonus stage Color Palette */
  --color-teal-T900: #054861;
  --color-teal-T800: #0f6a80;
  --color-teal-T700: #139cab;
  --color-teal-T600: #30c8c9;
  --color-teal-T500: #5cebdf;
  --color-teal-T400: #84f3df;
  --color-teal-T300: #9ef9e0;
  --color-teal-T200: #bffde7;
  --color-teal-T100: #dffef0;
  --color-teal-T050: #f2fef5;

  --color-blue-B900: #061475;
  --color-blue-B800: #0a1e8d;
  --color-blue-B700: #112caf;
  --color-blue-B600: #183dd1;
  --color-blue-B500: #2250f4;
  --color-blue-B400: #587ef8;
  --color-blue-B300: #799cfb;
  --color-blue-B200: #a6bffd;
  --color-blue-B100: #d2e0fe;
  --color-blue-B050: #e5edff;

  --color-red-R900: #7A122D;
  --color-red-R800: #931E33;
  --color-red-R700: #B7303D;
  --color-red-R600: #DB4648;
  --color-red-R500: #FF6B60;
  --color-red-R400: #FF9987;
  --color-red-R300: #FFB59F;
  --color-red-R200: #FFD3BF;
  --color-red-R100: #FFEBDF;
  --color-red-R050: #FFF5EB;

  --color-gray-L800: #151a1e;
  --color-gray-L700: #33373b;
  --color-gray-L600: #676c70;
  --color-gray-L500: #80858a;
  --color-gray-L400: #a3a7ac;
  --color-gray-L300: #e7eaed;
  --color-gray-L200: #f2f5f8;
  --color-gray-L100: #fafbfb;
  --color-gray-L000: #ffffff;

  /* Fonts */
  --font-headline: Pacaembu, sans-serif;
  --font-headline-feature-settings: "salt" 1;
  --font-primary: Pacaembu, sans-serif;
  --font-primary-feature-settings: "salt" 1;
  --font-secondary: Mulish, sans-serif;
  --font-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}